html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  @extend .transition;
  @apply py-3 px-6 font-bold text-xs uppercase shadow;
  width: 176px;

  &:focus {
    outline: none;
  }
}

a {
  @extend .transition;
  @apply inline-flex;
}

.icon-btn {
  @apply rounded-full text-teal;

  &:hover {
    @apply bg-teal text-teal-light
  }
}
