@tailwind base;

@tailwind components;

@import 'main';

@tailwind utilities;

.container {
  max-width: 100vw;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1366px) {
    max-width: 1366px;
  }
}